<div class="component-container">
  <div class="list-component">
    <bba-movements-list
      [movements]="movements$ | async"
      (selected)="selectMovement($event)"
      (deleted)="deleteMovement($event)"
    >
    </bba-movements-list>
  </div>
  <div class="details-component">
    <bba-movement-details
      [workouts]="workouts$ | async"
      [movement]="selectedMovement$ | async"
      (saved)="saveMovement($event)"
      (cancelled)="resetForm()"
    >
    </bba-movement-details>
  </div>
</div>
